* {
  margin: 0;
  padding: 0;
}
.container {
  font-family: arial;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.container:nth-child(1) {
  background-color: #2b4162;
  height: 150px;
  padding: 10px;
}
.container:nth-child(1) > h2 {
  color: #f5f0f6;
  letter-spacing: 5px;
  padding: 10px 0;
}
.container:nth-child(1) > h1 {
  color: #f5f0f6;
  padding: 25px 0;
}
.container:nth-child(2) {
  background-color: #beb7a4;
  color: #2b4162;
  min-height: 150px;
  padding: 25px 0;
}
.container:nth-child(3) {
  color: #2b4162;
  height: 150px;
  padding: 25px 0;
}
.container:nth-child(3) > h2 {
  letter-spacing: 5px;
  padding: 10px 0;
}
.container:nth-child(3) > p {
  margin: 0 auto;
  padding: 20px 0;
  text-align: left;
  width: 400px;
}
hr {
  border-bottom: 1px solid rgba(255, 127, 17, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border: 0;
  height: 0;
  margin: 0 auto;
  width: 400px;
}
.flip-clock-wrapper {
  width: 620px;
  margin: 48px auto;
}
